.main-info {
  text-align: center;
  padding: 4em 0;
}

.main-info__heading {
  font-size: 1.1em;
  font-weight: $fw-bold;
  margin-bottom: 1.5em;
  & span {
    color: $clr-blue;
  }
}

.main-info__subheading {
  font-size: 1.2em;
  font-weight: $fw-normal;
  color: $clr-gray;
  margin-bottom: 0.5em;
  & span {
    font-weight: $fw-bold;
    color: $clr-dark-blue;
  }
}

.main-info__text {
  font-size: 0.65em;
}

.main-info__img {
  width: 100%;
}

@media only screen and (min-width: 500px) {
  .main-info__heading,
  .main-info__subheading {
    font-size: 130%;
  }

  .main-info__text {
    font-size: 0.7em;
  }
}

@media only screen and (min-width: 750px) {
  .main-info__heading,
  .main-info__subheading {
    font-size: 150%;
  }

  .main-info__text {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 1000px) {
  .main-info__heading,
  .main-info__subheading {
    font-size: 170%;
  }

  .main-info__text {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 1200px) {
  .main-info__heading,
  .main-info__subheading {
    font-size: 200%;
  }

  .main-info__text {
    font-size: 1em;
  }
}
