body {
  padding: 1.5rem;
}

@media only screen and (min-width: 500px) {
  body {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 750px) {
  body {
    max-width: 70%;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    max-width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    max-width: 50%;
  }
}
