// Colors
$clr-blue: hsl(223, 87%, 63%);
$clr-pale-blue: hsl(223, 100%, 88%);
$clr-light-red: hsl(354, 100%, 66%);
$clr-gray: hsl(0, 0%, 59%);
$clr-dark-blue: hsl(209, 33%, 12%);

// Font families
$font-body: ('Libre Franklin'), sans-serif;

// Font weights
$fw-normal: 300;
$fw-semi: 600;
$fw-bold: 700;
